<div data-controller="parallax"
     data-parallax-amplitude-value="75"
     class="flex items-center px-5 pt-5 lg:p-5 row lg:w-[70vw]">
  <div data-parallax-target="hero">
    <div class="lg:flex lg:justify-center">
      <div class="flex justify-center relative lg:-top-12 p-3 lg:text-3xl xl:text-5xl font-black text-center bg-slate-800 rounded-t-[15px] lg:rounded-lg text-blue-50 lg:w-fit font-heading">
        <% if @project.project_url %>
          <%= link_to @project.project_url, target:"_blank" do %>
            <div class="flex items-center">
              <h1><%= @project.name %></h1>
              <%= image_tag 'icons/link-solid.svg', class:'ml-3 h-[15px] lg:h-[20px]' %>
            </div>
          <% end %>
        <% else %>
          <h1><%= @project.name %></h1>
        <% end %>
      </div>
    </div>
    <%= image_tag define_banner(@project), draggable: false, class:"lg:scale-125 mb-3 relative lg:-top-14 xl:-top-10 m-auto rounded-b-[15px] lg:rounded-[15px] xl:rounded-[35px] lg:w-3/4 -z-10", alt:@project.banner_alt_text %>
    <div class="flex justify-between lg:hidden">
      <%= render 'projects/partials/show/paginator' %>
    </div>
  </div>
</div>
<div class="flex lg:invisible flex-col-reverse px-5 pt-5 lg:p-5 lg:w-[30vw] mb-5 lg:mb-0">
  <%= render 'projects/partials/show/details', project: @project, tint:'800' %>
</div>
