<% content_for :meta_title, "#{t_scoped(:meta_prefix).capitalize} - #{pluralize_with_number(count: Project.all.size, object:t_scoped(:project))}" %>

<section class="container flex flex-col w-full p-5 mx-auto my-5 lg:w-1/2">
  <div class="flex items-center justify-between">
    <h1 class="my-3 text-3xl font-heading"><%= pluralize_with_number(count: Project.all.size, object:t_scoped(:project)) %></h1>
    <span class="h-full px-3 py-2 mx-3 text-lg rounded-lg text-green bg-light-green"><%= link_to t_scoped(:new).capitalize, new_project_path %></span>
  </div>
  <ul>
    <% @projects.each do |project| %>
      <li class="pb-3 mt-3 border-b">
        <div class="flex items-center justify-between">
          <div class="flex flex-col">
            <%= link_to project.name, project_path(project), target:'_blank', class:'underline underline-offset-1' %>
            <%= render 'shared/partials/history', project: project %>
          </div>
          <div class="flex items-center">
            <span class="px-3 py-2 mx-2 text-xs text-yellow rounded-lg bg-light-yellow"><%= link_to t_scoped(:edit).capitalize, edit_project_path(project) %></span>
            <%= button_to project_path(project), method: :delete do %>
              <span class="inline px-3 py-2 mx-2 text-xs text-red rounded-lg bg-light-red"><%= t_scoped(:delete).capitalize %></span>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="relative flex flex-col items-center justify-between my-3 text-sm opacity-50 lg:flex-row">
    <%= paginate @projects %>
    <div class="my-2 lg:absolute lg:last:right-0">
      <span><%= t_scoped(:per_page) %></span>
      <% PAGE_SIZES.each do |size| %>
        <%= link_to size, url_for(per_page: size) %>
        <%= '|' unless size == PAGE_SIZES.last %>
      <% end %>
    </div>
  </div>
</section>
