<h2 class="block lg:hidden my-3 text-2xl <%= 'text-end' if idx.even? %> font-heading font-bold text-blue-500">
  <% if idx.even? %>
    <div class="inline-block mx-2 scale-75 rotate-90 opacity-50">&#8627;</div>
  <% end %>
  <%= project.name %>
  <% if idx.odd? %>
    <div class="inline-block mx-2 scale-x-75 rotate-90 opacity-50 -scale-y-75">&#8627;</div>
  <% end %>
</h2>
<div class="transition-transform border border-transparent rounded-lg group hover:-translate-y-1 hover:border-blue-500 hover:cursor-pointer">
  <div class="h-48 bg-center bg-cover rounded-lg md:h-80 lg:h-96" style="background-image:url(<%= project.banner_url %>)">
    <div class="flex flex-col items-center justify-center w-full h-full transition-all rounded-lg opacity-0 group-hover:lg:opacity-100 bg-blue-50">
      <h2 class="text-2xl font-bold text-blue-500 transition-all group-hover:translate-y-0 font-heading md:text-3xl lg:text-5xl"><%= project.name %></h2>
      <div class="my-3 lg:my-5">
        <% project.skills.first(5).each do |skill| %>
          <small class="inline-block p-1 text-blue-500 bg-blue-100 rounded"><%= skill.name %></small>
        <% end %>
      </div>
    </div>
  </div>
</div>
