<%= simple_form_for project do |f| %>
    <div class="flex justify-end">
      <% if project.persisted? %>
        <%= f.submit 'Update', class:"hover:cursor-pointer font-heading font-bold rounded-lg p-3 bg-yellow-50 text-yellow-500" %>
      <% else %>
        <%= f.submit 'Create', class:"hover:cursor-pointer font-heading font-bold rounded-lg p-3 bg-emerald-50 text-emerald-500" %>
      <% end %>
    </div>
    <div class="flex flex-col my-3">
      <%= f.input :name, wrapper_html: { class: 'flex flex-col' },
                         input_html: { class: 'rounded' },
                         error: 'Can\'t be blank!',
                         error_html: { class: 'mt-2 text-red-500' } %>
    </div>
    <div class="flex flex-col my-3">
      <%= f.input :project_url, wrapper_html: { class: 'flex flex-col' },
                                input_html: { class: 'rounded' } %>
    </div>
    <div class="flex flex-col my-3">
      <%= f.input :github_url, wrapper_html: { class: 'flex flex-col' },
                               input_html: { class: 'rounded' } %>
    </div>
    <div class="flex flex-col lg:flex-row">
      <div class="flex flex-col w-full my-3 mr-3">
        <%= f.input :banner_url, wrapper_html: { class: 'flex flex-col' },
                                  input_html: { class: 'rounded' },
                                  error: 'Can\'t be blank!',
                                  error_html: { class: 'mt-2 text-red-500' } %>
      </div>
      <div class="flex flex-col w-full my-3">
        <%= f.input :banner_url_alt_text, wrapper_html: { class: 'flex flex-col' },
                                          input_html: { class: 'rounded' },
                                          error: 'Can\'t be blank!',
                                          error_html: { class: 'mt-2 text-red-500' } %>
      </div>
    </div>
    <div class="flex flex-col my-3">
      <%= f.label :release_date %>
      <%= f.input :release_date, order: [:day, :month, :year],
                                 start_year: 2015,
                                 label: false,
                                 wrapper_html: { class: 'flex items-center' },
                                 input_html: { class: 'my-2 rounded w-full' },
                                 error: 'Can\'t be blank!',
                                 error_html: { class: 'mt-2 text-red-500' } %>
    </div>
    <div class="flex flex-col my-3">
      <%= f.input :short_description, wrapper_html: { class: 'flex flex-col' },
                                      input_html: { class: 'rounded' },
                                      error: 'Can\'t be blank!',
                                      error_html: { class: 'mt-2 text-red-500' } %>
    </div>
    <div class="flex flex-col my-3">
      <%= f.input :long_description, wrapper_html: { class: 'flex flex-col' },
                                      input_html: { class: 'rounded' },
                                      error: 'Can\'t be blank!',
                                      error_html: { class: 'mt-2 text-red-500' } %>
    </div>
    <div class="flex items-center my-3">
      <%= f.check_box :is_active, class:"rounded mr-2" %>
      <%= f.label 'Active project' %>
    </div>
    <div class="flex flex-col my-3">
      <%= f.association :skills, as: :check_boxes, item_wrapper_tag: :div, item_wrapper_class:'my-2', input_html: { class:'rounded mr-2' } %>
    </div>
  <% end %>
