<div class="z-10 p-7 md:pt-10">
  <div class="flex items-center justify-between mx-auto lg:w-1/4 lg:justify-evenly">
    <div class="py-2 px-3 h-full mx-0 md:mx-5 lg:mx-8 <%= 'text-gray-500' unless current_pages?(controller: 'projects', actions: ['show', 'index']) %> <%= 'rounded-lg bg-blue-50 text-blue-600 opacity-100' if current_pages?(controller: 'projects', actions: ['show', 'index']) %> rounded-lg hover:bg-blue-50 hover:text-blue-600  transition-all text-sm">
      <%= link_to 'Projects', projects_path %>
    </div>
    <%= link_to root_path do %>
      <span class="mx-5 text-2xl font-bold text-blue-500 font-heading">JG</span>
    <% end %>
    <div class="py-2 px-3 h-full mx-0 md:mx-5 lg:mx-8 <%= 'text-gray-500' unless current_page?(controller: 'pages', action: 'contact') %> <%= 'rounded-lg bg-blue-50 text-blue-600 opacity-100' if current_page?(controller: 'pages', action: 'contact') %> rounded-lg hover:bg-blue-50 hover:text-blue-600  transition-all text-sm">
      <%= link_to 'Contact', contact_path %>
    </div>
  </div>
</div>
