<nav data-controller="navbar" data-action="scroll@window->navbar#updateNavbarPadding" class="sticky top-0 z-10 px-5 pt-5 pb-3 transition-all lg:pt-10">
  <div class="flex items-center mx-auto justify-evenly lg:w-1/4">
    <div class="py-2 px-3 h-full mx-0 md:mx-5 lg:mx-8 <%= 'text-gray-500' unless current_pages?(controller: 'projects', actions: ['show', 'index']) %> <%= 'rounded-lg bg-blue-50 text-slate-800 opacity-100' if current_pages?(controller: 'projects', actions: ['show', 'index']) %> rounded-lg hover:bg-blue-50 hover:text-slate-800  transition-all text-sm">
      <%= link_to 'Projects', projects_path %>
    </div>
    <%= link_to root_path do %>
      <span class="mx-5 text-2xl font-black text-slate-800 font-heading">JG</span>
    <% end %>
    <div class="py-2 px-3 h-full mx-0 md:mx-5 lg:mx-8 <%= 'text-gray-500' unless current_page?(controller: 'pages', action: 'contact') %> <%= 'rounded-lg bg-blue-50 text-slate-800 opacity-100' if current_page?(controller: 'pages', action: 'contact') %> rounded-lg hover:bg-blue-50 hover:text-slate-800  transition-all text-sm">
      <%= link_to 'Contact', contact_path %>
    </div>
  </div>
</nav>
