<% content_for :meta_title, "#{ABOUT['full_name'].titleize} - #{t_scoped(:meta_title).capitalize}" %>
<% content_for :meta_description, t_scoped(:meta_description) %>

<div data-aos="fade"
     data-aos-duration="800"
     class="flex flex-col items-center lg:h-[90vh] justify-center">
  <div class="container flex flex-col-reverse justify-around px-5 py-12 mx-auto lg:pb-24 lg:flex-row">
    <div data-aos="fade"
         data-aos-delay="300"
         data-aos-duration="800"
         class="mt-6 lg:mt-0 flex flex-col w-[90%] lg:w-[40%] text-center lg:text-left self-center">
      <span class="text-xl font-black font-heading text-primary-800">
        <%= ABOUT['full_name'].titleize %>
      </span>
      <p class="my-3 text-primary-400"><%= t('views.pages.home.long_description') %></p>
      <div class="hidden my-2 lg:block">
        <%= render 'shared/partials/minisocials',
              mode: 'light' %>
      </div>
      <%= link_to t('views.pages.home.legal').capitalize,
            legal_path,
            class: 'text-sm underline opacity-50 text-primary-700 underline-offset-4 decoration-dotted decoration-primary-700'  %>
    </div>
    <div data-aos="fade"
         data-aos-delay="400"
         data-aos-duration="800"
         class="mb-6 lg:mb-0 flex flex-col lg:w-[40%]">
      <h1 class="mb-6 text-2xl font-black text-center font-heading text-primary-800">
        <%= t_scoped(:catch_phrase) %>
      </h1>
      <div class="p-5 rounded-lg bg-light-blue">
        <%= render 'contacts/partials/form',
              contact: @contact,
              mode: 'light' %>
      </div>
    </div>
  </div>
</div>
