<div class="container h-screen mx-auto -mt-28 grow flex flex-col lg:flex-row justify-center items-center">
  <div class="hidden lg:block m-16 relative">
    <%= image_tag 'home/profile_lg_shape_front.svg', class:"absolute w-1/4 bottom-40 left-0" %>
    <%= image_tag 'home/profile_lg.png' %>
    <%= image_tag 'home/profile_lg_shape_back.svg', class:"absolute top-0 left-0 -z-50" %>
  </div>
  <div class="block lg:hidden m-8 relative">
    <%= image_tag 'home/profile.png' %>
  </div>
  <div class="text-center lg:text-left">
    <p class="opacity-50 inline mr-2">Hi! My name's</p>
    <h1 class="inline my-2 lg:my-3 text-5xl lg:text-6xl"><span class="font-heading text-blue-800">Jean</span></h1>
    <p>
      <span class="opacity-50">A</span>
      <span class="text-2xl lg:text-3xl lg:mx-1 font-heading text-blue-500">creative</span>
      <span class="opacity-50">mind with</span>
      <span class="text-2xl lg:text-3xl lg:mx-1 font-heading text-blue-500">technical</span>
      <span class="opacity-50">skills</span>
    </p>
  </div>
</div>
<div class="container mx-auto flex flex-col p-5 my-20">
  <%= render 'partials/separator',
      title:"<span class='opacity-50'>past</span> <span class='mx-1 text-3xl font-heading font-semibold text-blue-500'>projects</span>" %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @projects.each_with_index do |project, idx| %>
      <%= render 'partials/card', project: project, delay: (idx + 1) * 100 %>
    <% end %>
  </div>
  <div class="mt-10 mx-auto">
    <%= render 'partials/minibutton',
        title: 'See all',
        path: projects_path,
        color: 'text-blue-500',
        hover_color: 'text-blue-800' %>
  </div>
</div>
<div class="rounded-t-[35px] lg:rounded-t-[50px] bg-blue-500">
  <div class="container mx-auto p-5">
      <%= render 'partials/separator',
          title:"<span class='text-blue-100'>my</span> <span class='mx-1 text-3xl font-heading font-semibold text-white'>skills</span>" %>
      <div data-aos="fade" data-aos-duration="800" class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4">
        <% @skills.each_with_index do |skill, idx| %>
          <%= render 'partials/minicard', skill: skill, delay: (idx + 1) * 50 %>
        <% end %>
      </div>
  </div>
</div>
