<section data-aos="fade"
         class="container sticky top-20 flex items-center h-[50vh] md:h-[40vh] mx-auto justify-evenly w-full md:w-3/4 2xl:w-1/2">
  <div data-aos="fade"
       data-aos-duration="800"
       data-controller="parallax"
       data-parallax-amplitude-value="-50"
       data-parallax-force-value="true"
       class="justify-center hidden w-[35%] p-5 md:flex">
    <section data-parallax-target="hero"
             oncontextmenu="return false;">
      <%= image_tag 'home/profile.png',
          draggable: false %>
    </section>
  </div>
  <% unless browser.firefox? %>
    <%= image_tag 'home/profile_shape.png',
        draggable: false,
        class:'hidden md:block fixed -z-10 animate-subtle opacity-75' %>
  <% end %>
  <div data-controller="parallax"
       data-parallax-amplitude-value="-75"
       data-parallax-force-value="true"
       class="hidden w-[65%] p-5 md:block">
    <section data-parallax-target="hero">
      <div class="flex flex-col items-center text-center">
        <div data-aos="fade"
             data-aos-delay="100"
             data-aos-duration="800"
             class="mb-5">
          <h1 class="text-4xl font-black font-heading text-primary-800">
            <%= ABOUT['full_name'].titleize %>
          </h1>
          <span class="text-sm text-primary-400">
            <%= t_scoped(:desktop_subline) %>
          </span>
        </div>
        <p data-aos="fade"
           data-aos-delay="200"
           data-aos-duration="800"
           class="w-[90%] mb-5 text-primary-400 sm:hidden xl:block">
          <%= t_scoped(:desktop_description)%>
        </p>
        <div data-aos="fade"
             data-aos-delay="300"
             data-aos-duration="800">
          <%= render 'shared/partials/minisocials',
          mode: 'light' %>
        </div>
      </div>
    </section>
  </div>
  <div data-controller="parallax"
       data-parallax-amplitude-value="-50"
       data-parallax-force-value="true"
       class="block p-5 md:hidden">
    <section data-parallax-target="hero">
      <span data-aos="fade"
            data-aos-delay="100"
            data-aos-duration="800"
            class="text-sm text-primary-400">
        <%= t_scoped(:mobile_subline) %>
      </span>
      <h1 data-aos="fade"
          data-aos-delay="200"
          data-aos-duration="800"
          class="my-3 text-2xl font-black font-heading text-primary-900">
        <%= t_scoped(:mobile_description) %>
      </h1>
      <div data-aos="fade"
           data-aos-delay="300"
           data-aos-duration="800">
        <%= render 'shared/partials/minisocials',
        mode: 'light' %>
      </div>
  </div>
</section>
<section data-aos="fade"
         data-aos-delay="400"
         data-aos-duration="800"
         class="relative top-10 rounded-t-[35px] lg:rounded-t-[50px] bg-light-blue">
  <div class="container flex flex-col p-5 mx-auto">
    <div class="grid grid-cols-1 gap-5 mt-6 lg:mt-12 lg:grid-cols-2 lg:gap-10">
      <%= render 'shared/partials/index',
          projects: @projects %>
    </div>
    <div class="flex items-center justify-center mb-[3.7rem] h-28 x-auto">
      <%= render 'shared/partials/minibutton',
          title: t_scoped(:see_all).capitalize,
          path: projects_path,
          color: 'text-primary' %>
    </div>
  </div>
</section>
<section class="relative z-10 bg-primary-900">
  <div class="absolute -top-10 w-full h-[50px] rounded-t-[35px] lg:rounded-t-[50px] z-10 bg-primary-900"></div>
  <div class="container relative z-30 px-5 pb-24 mx-auto">
  <div data-aos="fade"
      data-aos-duration="800">
    <%= render 'shared/partials/separator',
        title: t_scoped(:skills),
        direction: 'left',
        text_color: 'text-light-blue',
        arrow_color: 'text-light-blue' %>
  </div>
    <div data-aos="fade"
         data-aos-duration="800"
         class="grid grid-cols-2 gap-4 md:grid-cols-4 lg:grid-cols-5">
      <% @skills.each_with_index do |skill, idx| %>
        <%= render 'shared/partials/minicard',
            skill: skill,
            delay: (idx + 1) * 50 %>
      <% end %>
    </div>
  </div>
</section>
<section class="relative z-20 bg-primary-900">
  <div class="container relative z-30 flex flex-col px-5 mx-auto">
    <div data-aos="fade"
        data-aos-duration="800">
      <%= render 'shared/partials/separator',
          title: t_scoped(:contact),
          direction: 'right',
          text_color: 'text-light-blue',
          arrow_color: 'text-light-blue' %>
    </div>
  </div>
  <div class="container flex flex-col-reverse justify-around px-5 pb-12 mx-auto lg:pb-32 lg:flex-row">
    <div data-aos="fade" data-aos-delay="400"
         data-aos-duration="800"
         class="mt-6 lg:mt-0 flex flex-col w-[90%] lg:w-[40%] text-center lg:text-left self-center">
      <span class="text-xl font-black font-heading text-light-blue">
        <%= ABOUT['full_name'].titleize %>
      </span>
      <p class="my-3 text-light-blue/50"><%= t_scoped(:long_description) %></p>
      <div class="hidden my-2 lg:block">
        <%= render 'shared/partials/minisocials',
            mode: 'dark' %>
      </div>
      <div class="text-xs underline opacity-50 text-light-blue underline-offset-4 decoration-dotted decoration-light-blue">
        <%= link_to t_scoped(:legal).capitalize, legal_path %>
      </div>
    </div>
    <div data-aos="fade"
         data-aos-delay="600"
         data-aos-duration="800"
         class="mb-6 lg:mb-0 flex flex-col lg:w-[40%]">
      <%= render 'contacts/partials/form',
          contact: @contact,
          mode: 'dark' %>
    </div>
  </div>
</section>
