<div class="container flex items-center lg:h-[90vh] mx-auto">
  <div class="flex items-center p-5 row">
    <%= link_to project_path(Project.previous(@project)), class:"hidden lg:block" do %>
      <p class="text-3xl transition-transform hover:-translate-x-3 text-slate-400">←</p>
    <% end %>
    <div>
      <div class="lg:flex lg:justify-center">
        <div class="relative lg:-top-1 lg:mx-3 p-3 lg:text-5xl font-black text-center bg-slate-800 rounded-t-[15px] lg:rounded-lg text-blue-50 lg:w-fit font-heading">
          <h1><%= @project.name %></h1>
        </div>
        <% if @project.project_url %>
          <%= link_to @project.project_url, class:"hidden lg:block relative -top-2 left-1", target:"_blank" do %>
            <%= image_tag 'icons/up-right-from-square-solid.svg', class:"text-slate-800 w-6" %>
          <% end %>
        <% end %>
      </div>
      <%= image_tag @project.banner_url, class:"relative lg:-top-10 m-auto lg:rounded-[35px] lg:w-3/4 -z-10" %>
      <div class="flex lg:hidden justify-between bg-slate-800 rounded-b-[15px] lg:rounded-lg text-blue-50">
        <%= link_to project_path(Project.previous(@project)) do %>
          <p class="text-3xl transition-transform ml-7 text-slate-400">←</p>
        <% end %>
        <%= link_to project_path(Project.next(@project)) do %>
          <p class="text-3xl transition-transform mr-7 text-slate-400">→</p>
        <% end %>
      </div>
    </div>
    <%= link_to project_path(Project.next(@project)), class:"hidden lg:block" do %>
      <p class="text-3xl transition-transform hover:translate-x-3 text-slate-400">→</p>
    <% end %>
</div>
