<div data-aos="fade" class="container lg:sticky lg:top-24 flex flex-col lg:flex-row items-center h-full lg:h-[90vh] mx-auto">
  <div class="flex items-center px-5 pt-5 lg:p-5 row lg:w-[70vw]">
    <div>
      <div class="lg:flex lg:justify-center">
        <div class="flex justify-center relative lg:-top-14 p-3 lg:text-5xl font-black text-center bg-slate-800 rounded-t-[15px] lg:rounded-lg text-blue-50 lg:w-fit font-heading">
          <% if @project.project_url %>
            <%= link_to @project.project_url, target:"_blank" do %>
              <div class="flex items-center">
                <h1><%= @project.name %></h1>
                <%= image_tag 'icons/link-solid.svg', class:'ml-3 h-[15px] lg:h-[20px]' %>
              </div>
            <% end %>
          <% else %>
            <h1><%= @project.name %></h1>
          <% end %>
        </div>
      </div>
      <%= image_tag @project.banner_url, class:"lg:scale-125 mb-3 relative lg:-top-10 m-auto rounded-b-[15px] lg:rounded-[35px] lg:w-3/4 -z-10" %>
      <div class="flex justify-between lg:hidden">
        <%= link_to project_path(Project.previous(@project)) do %>
          <p class="text-2xl transition-transform ml-7 text-slate-400">←</p>
        <% end %>
        <%= link_to project_path(Project.next(@project)) do %>
          <p class="text-2xl transition-transform mr-7 text-slate-400">→</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex flex-col-reverse lg:flex-col px-5 pt-5 lg:p-5 lg:w-[30vw] mb-5 lg:mb-0">
    <p class="mb-3 text-2xl font-bold lg:text-3xl font-heading text-slate-800"><%= @project.short_description %></p>
    <div class="flex items-center justify-between mb-3 lg:mb-0">
      <small class="font-body text-slate-400"><%= "#{'Depuis ' if @project.is_active} #{@project.release_date.year}" %></small>
      <% if @project.github_url %>
        <%= link_to @project.github_url, target:'_blank', class:'z-10 font-body text-slate-400' do %>
          <span class="mr-2"><%= fa_icon 'github' %></span>
          <small><%= /(https:\/\/github\.com\/)(.+)/.match(@project.github_url)[2] %></small>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="relative z-10 h-screen rounded-t-[35px] lg:rounded-t-[50px] bg-slate-800">
  <div class="container p-5 mx-auto">
  </div>
</div>
<div class="sticky z-20 justify-between hidden lg:flex bottom-14">
  <%= link_to project_path(Project.previous(@project)) do %>
    <p class="text-2xl ml-14 text-slate-400">←</p>
  <% end %>
  <%= link_to project_path(Project.next(@project)) do %>
    <p class="text-2xl mr-14 text-slate-400">→</p>
  <% end %>
</div>
