<div class="flex items-center lg:hidden mb-3 text-2xl <%= 'justify-end' if idx.even? %>">
  <small class="text-sm text-primary-400 <%= 'order-2' if idx.odd? %>">
    <%= project.release_date.year %>
  </small>
  <h2 class="mx-3 font-bold font-heading text-primary-900">
    <%= project.name %>
  </h2>
</div>
<div class="transition-transform border border-transparent rounded-lg group hover:-translate-y-1 hover:cursor-pointer">
  <div class="h-48 bg-center bg-cover rounded-lg md:h-80 lg:h-96"
       style="background-image:url(<%= banner_for(project) %>)">
    <div class="flex flex-col items-center justify-center w-full h-full text-center transition-all rounded-lg opacity-0 bg-primary-800/95 backdrop-blur group-hover:lg:opacity-100">
      <h2 class="text-2xl font-bold transition-all text-light-blue group-hover:translate-y-0 font-heading md:text-3xl lg:text-5xl">
        <%= project.name %>
      </h2>
      <div class="my-3 lg:my-5">
        <% project.skills.first(5).each do |skill| %>
          <small class="inline-block p-1 rounded text-primary-300 bg-primary-700">
            <%= skill.name %>
          </small>
        <% end %>
      </div>
    </div>
  </div>
</div>
