<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head_tags' %>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-50" data-barba="wrapper">
    <div class="fixed z-50 w-screen h-screen bg-slate-900 wipe-transition -bottom-full"></div>
    <% if devise_controller? %>
      <main class="flex-grow">
        <%= yield %>
      </main>
    <% else %>
      <%= render 'shared/public/border' %>
      <%= render 'shared/public/navbar' %>
      <main class="flex-grow" data-aos="fade" data-aos-duration="850" data-barba="container" data-barba-namespace="main">
        <%= yield %>
      </main>
      <%= render 'shared/public/footer' %>
    <% end %>
  </body>
</html>
