<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head_tags' %>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-50">
    <% if devise_controller? %>
      <main class="flex-grow">
        <%= yield %>
      </main>
    <% else %>
      <%= render 'admin/partials/edit_bar' %>
      <%= render 'shared/public/border' %>
      <%= render 'shared/public/navbar' %>
      <main class="flex-grow">
        <%= render 'partials/flash' %>
        <%= yield %>
      </main>
      <%= render 'shared/public/footer' %>
    <% end %>
  </body>
</html>
