<!DOCTYPE html>
<html lang=<%= I18n.locale %>>
  <head>
    <%= render 'shared/head_tags' %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>
  <body data-controller="transition"
        class="flex flex-col min-h-screen">
    <%= render 'shared/public/border' %>
    <%= render 'shared/public/header' %>
    <main data-transition-target="container"
          class="flex-grow">
      <%= render 'shared/partials/flash' %>
      <%= yield %>
    </main>
    <%= render 'shared/public/footer',
          mode: 'dark' %>
  </body>
</html>
