<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/aos@3.0.0-beta.6/dist/aos.css" %>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col">
    <div class="fixed top-0 z-20 w-full border-2 border-blue-500 lg:border-4"></div>
    <div class="fixed right-0 z-20 h-full border-2 border-blue-500 lg:border-4"></div>
    <div class="fixed bottom-0 z-20 w-full border-[20px] border-blue-500"></div>
    <div class="fixed left-0 z-20 h-full border-2 border-blue-500 lg:border-4"></div>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
